{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="">
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="icon" href="/static/teslaicon.png">
    <!-- Page Title  -->
    <title>Tesla Coin - Dashboard</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/zeal_nation/dash/dashlite.css">
    <link id="skin-default" rel="stylesheet" href="/static/zeal_nation/dash/theme.css">
          <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '229561246123324a6c7713c46631ea91bdc72052';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
</head>
<body class="nk-body bg-lighter npc-default has-sidebar ">
<div class="nk-app-root">
    <!-- main @s  -->
    <div class="nk-main ">
        <!-- sidebar @s  -->
        <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head">
                <div class="nk-sidebar-brand">
                    <a href="{% url 'home' %}" class="logo-link nk-sidebar-logo">
                                    <img style="height: 80px; width:100px;" src="/static/Mytes.png" title="" alt="Logo" />
                                </a>
                </div>
                <div class="nk-menu-trigger mr-n2">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="glyphicon glyphicon-home"></em></a>
                    <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="glyphicon glyphicon-align-justify"></em></a>
                </div>
            </div><!-- .nk-sidebar-element -->
            <div class="nk-sidebar-element">
                <div class="nk-sidebar-content">
                    <div class="nk-sidebar-menu" data-simplebar>
                        <ul class="nk-menu">
                            <li class="nk-menu-heading">
                                <h6 class="overline-title text-primary-alt">Member Account</h6>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="{% url 'dashboard' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-home"></em></span>
                                    <span class="nk-menu-text">Dashboard</span>
                                </a>
                            </li><!-- .nk-menu-item --><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="{% url 'track' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-road"></em></span>
                                    <span class="nk-menu-text">Track</span>
                                </a>
                            </li><!-- .nk-menu-item --><!-- .nk-menu-item --><!-- .nk-menu-item --><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="{% url 'card' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-credit-card"></em></span>
                                    <span class="nk-menu-text">Card</span>
                                </a>
                            </li><!-- .nk-menu-item --><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="{% url 'investmentPlans' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-usd"></em></span>
                                    <span class="nk-menu-text">Package options</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'myreferals' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-user"></em></span>
                                    <span class="nk-menu-text">Affiliate</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'notifications' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-bell"></em></span>
                                    <span class="nk-menu-text">Important Notifications ( {{number_of_notifications}} )</span>
                                </a>
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'video_page' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-volume-up"></em></span>
                                    <span class="nk-menu-text">Confrence meeting</span>
                                </a>
                            </li>
                            <li class="nk-menu-heading">
                                <h6 class="overline-title text-primary-alt">Finance</h6>
                            </li><!-- .nk-menu-item --><!-- .nk-menu-item --><!-- .nk-menu-item --><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="{% url 'loan' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-usd"></em></span>
                                    <span class="nk-menu-text">Request Loan</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'reinvest' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-repeat"></em></span>
                                    <span class="nk-menu-text">Reinvest</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'withdrawal' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-credit-card"></em></span>
                                    <span class="nk-menu-text">Withdrawal</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'history' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-book"></em></span>
                                    <span class="nk-menu-text">History</span>
                                </a>
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'transfer_funds' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-transfer"></em></span>
                                    <span class="nk-menu-text">Transfer Funds</span>
                                </a>
                            </li>
                            <li class="nk-menu-heading">
                                <h6 class="overline-title text-primary-alt">Settings</h6>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'account_settings' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-wrench"></em></span>
                                    <span class="nk-menu-text">KYC Verification</span>
                                </a>
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'logout' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-off"></em></span>
                                    <span class="nk-menu-text">Logout</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                        </ul><!-- .nk-menu -->
                    </div><!-- .nk-sidebar-menu -->
                </div><!-- .nk-sidebar-content -->
            </div><!-- .nk-sidebar-element -->
        </div>
        <!-- sidebar @e  -->
        <!-- wrap @s  -->
        <div class="nk-wrap ">
            <!-- main header @s  -->
            <div class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="glyphicon glyphicon-align-justify"></em></a>
                        </div>
                        <div class="nk-header-brand d-xl-none">
                             <a href="{% url 'home' %}" class="logo-link">
                                    <img style="height: 80px; width:100px;" src="/static/teslaLogo.png" title="" alt="Logo" />

                                </a>
                        </div><!-- .nk-header-brand -->
                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown user-dropdown">
                                    <a href="#" class="dropdown-toggle mr-n1" data-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar sm">
                                                <i class="fa-solid fa-circle-user"></i>
                                            </div>
                                            <div class="user-info d-none d-xl-block">
                                                                                                <div class="user-name dropdown-indicator">{{request.user.username}}</div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                    <span><i class="fa-solid fa-circle-user"></i></span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">{{request.user.username}}</span>
                                                    <span class="sub-text">{{request.user.email}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="{% url 'account_settings' %}"><i class="fa-solid fa-circle-user"></i><span>View Profile</span></a></li>
                                                <li><a href="{% url 'investmentPlans' %}"><em class="glyphicon glyphicon-usd"></em><span>Package options</span></a></li>
                                                <li><a href="{% url 'withdrawal' %}"><em class="glyphicon glyphicon-credit-card"></em><span>Withdraw</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="{% url 'logout' %}"><em class="glyphicon glyphicon-off"></em><span>Sign out</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e  -->
            <!-- content @s  -->
                <br><br><br>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <br><br>
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
                "symbols": [
                {
                    "proName": "FX_IDC:EURUSD",
                    "title": "EUR/USD"
                },
                {
                    "proName": "BITSTAMP:BTCUSD",
                    "title": "BTC/USD"
                },
                {
                    "proName": "BITSTAMP:ETHUSD",
                    "title": "ETH/USD"
                },
                {
                    "description": "BCH/USD",
                    "proName": "KRAKEN:BCHUSD"
                },
                {
                    "description": "BNB/BTC",
                    "proName": "BINANCE:BNBBTC"
                },
                {
                    "description": "DOT/USD",
                    "proName": "KRAKEN:DOTUSD"
                },
                {
                    "description": "BNB/USDT",
                    "proName": "BINANCE:BNBUSDT"
                },
                {
                    "description": "ETH/USDT",
                    "proName": "KRAKEN:ETHUSDT"
                },
                {
                    "description": "TRX/USD",
                    "proName": "BINANCE:TRXUSDT"
                },
                {
                    "description": "BTT/USDT",
                    "proName": "BINANCE:BTTUSDT"
                },
                {
                    "description": "BTT/USD",
                    "proName": "BITFINEX:BTTUSD"
                },
                {
                    "description": "NEO/USD",
                    "proName": "BITFINEX:NEOUSD"
                }
            ],
                "colorTheme": "dark",
                "isTransparent": false,
                "displayMode": "adaptive",
                "locale": "en"
            }
        </script>
        <style>


.card-container {
  perspective: 1000px;
}

.card {
  width: 340px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  cursor: pointer;
}

.card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  color: #fff;
  backface-visibility: hidden;
  overflow: hidden;
}

.front {
  background: linear-gradient(135deg, #4a00e0, #8e2de2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.front .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.front .logo {
  width: 50px;
  height: 50px;
}

.front .brand-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.front .chip {
  width: 50px;
  height: 35px;
  background: linear-gradient(45deg, #ffcc00, #ff9900);
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.front .card-number {
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.front .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.front .card-expiry span:first-child {
  font-size: 0.6rem;
  text-transform: uppercase;
  opacity: 0.8;
}

.front .card-holder {
  font-weight: 600;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: url('https://www.transparenttextures.com/patterns/waves.png');
  opacity: 0.1;
  animation: wave 3s linear infinite;
}

@keyframes wave {
  0% { background-position: 0 0; }
  100% { background-position: 100px 0; }
}

.back {
  background: linear-gradient(135deg, #111, #333);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.back .strip-black {
  height: 40px;
  background: #000;
  margin-bottom: 20px;
}

.back .ccv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back .ccv label {
  font-size: 0.8rem;
}

.back .terms {
  font-size: 0.65rem;
  margin-top: auto;
  opacity: 0.7;
}
        </style>
    </div>
    <br><br>
    <!-- TradingView Widget END -->
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">Tesla Coin Card</h3>
                                <p>Important notice: <b>{{request.user.username}}</b>, Always keep your login details and card private. Do not reveal it to anyone. We will never ask for your login details or card details. Kindly, refer to our security tips on how to keep your account secure.</p>
                            </div><!-- .nk-block-head-content -->
                            <div class="nk-block-head-content">
                                <div class="toggle-wrap nk-block-tools-toggle">
                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="glyphicon glyphicon-credit-card"></em></a>
                                    <div class="toggle-expand-content" data-content="pageMenu">
                                        <ul class="nk-block-tools g-3">
                                            <li><a href="{% url 'investmentPlans' %}" class="btn btn-white btn-dim btn-outline-light"><span>Package options</span><em class="glyphicon glyphicon-usd"></em></a></li>
                                            <li class="nk-block-tools-opt"><a href="{% url 'withdrawal' %}" class="btn btn-primary"><span>Withdraw</span><em class="glyphicon glyphicon-credit-card"></em></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head-content -->
                        </div><!-- .nk-block-between -->
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        <div class="card-container">
  <div class="card">
    <div class="front">
      <div class="card-header" style="background-color: #000 !important">
        <img src="/static/teslaLogo.png" alt="Logo" class="logo" />
        <span class="brand-name">Tesla Card</span>
      </div>
      <div class="chip"></div>
      <div class="card-number">5453 8420 9500 ****</div>
      <div class="card-details">
        <div class="card-expiry">
          <span>Valid Thru</span>
          <span>9/27</span>
        </div>
        <div class="card-holder">{{ request.user.username }}</div>
      </div>
      <div class="waves"></div>
    </div>
    <div class="back">
      <div class="strip-black"></div>
      <div class="ccv">
        <label>CCV</label>
        <div>***</div>
      </div>
      <div class="terms">
        <p>This card is property of Tesla Coin. Misuse is a criminal offense.</p>
      </div>
    </div>
  </div>
</div>
<br>
<h2><span style="text-align:'center !important';">Order Card</span></h2>
<br>
                           <form class="form-group" method="Post">
                              {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
            <p class="messages">
                <strong class="messages">{{ field.errors|escape }}</strong>
            </p>
            {% endfor %}
        {% endif %}
                              <div class="mb-4">
                                 <label for="Name">Email</label>
                                 <input type="text" class="form-control" name="email"  reqired id="email" aria-describedby="emailHelp">
                              </div>
                              <div class="mb-4">
                                 <label for="Name">FullName</label>
                                 <input type="text" class="form-control" name="name"  reqired>
                              </div>
                              <div class="mb-4">
                                 <label for="Address">Shipping Address</label>
                                 <input type="address" class="form-control" name="address" required>
                              </div>
                              <div class="mb-4">
                                 <label for="Address">Country</label>
                                 <input type="address" class="form-control" name="country" required>
                              </div>
                              <div class="mb-3">
                                 <label for="submit">Click to submit</label>
                                 <button type="submit" class="btn btn-primary btn-lg form-control">Submit Appliation</button>
                              </div>
                           </form>
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-29fc0be ob-is-e3" data-id="29fc0be" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-b6386cd ob-harakiri-inherit elementor-widget elementor-widget-heading" data-id="b6386cd" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h4 class="elementor-heading-title elementor-size-default">Language
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-0361105 ob-harakiri-inherit elementor-widget elementor-widget-heading" data-id="0361105" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                            <span class="elementor-heading-title elementor-size-default">We support your local languages. Change language below.
                            </span>
                                            </div>
                                        </div>

<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                                    </div>
                                </div>


    <script>
        var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

        copyTextareaBtn.addEventListener('click', function(event) {
            var copyTextarea = document.querySelector('.js-copytextarea');
            copyTextarea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';

                console.log('Copying text command was ' + msg);
            } catch (err) {
                console.log('Oops, unable to copy');
            }
        });
    </script>
            <!-- content @e  -->
        </div>
        <!-- wrap @e  -->
    </div>
    <!-- main @e  -->
</div>
<!-- app-root @e  -->
<!-- JavaScript -->

<script src="/static/zeal_nation/dash/bundle.js"></script>
<script src="/static/zeal_nation/dash/scripts.js"></script>
<script src="/static/zeal_nation/dash/chart-ecommerce.js"></script>
</body>

</html>
s